input{
    border-style: solid;
    height: 25px;
    border-width: thin;
    width: 500px;
    border-radius: 30px;
    padding: 10px;
    font-size: medium;
    color: gray;
}

.btn-search{
    display: inline;
    margin-left: 10px;
    color: white;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    width: 150px;
    height: 50px; 
    font-size: 18px;
    border-radius: 100px;
    border-style: hidden;
}