body{
    font-family: 'Archivo', sans-serif;
}

* {
    box-sizing: border-box;
  }
  
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #f0e482;
    position: relative;
    top: 0px;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: black;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    margin-left: 10;

  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 10px 12px 10px 10px;
    text-decoration: none;
    color: gray;
    font-size: 12;
    margin: 10;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media  only screen and  (max-width:768px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: white;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: 500%;
      overflow-y: auto;
    }

    #Home button{
        margin-left: 25%; 
    }

    .videos-div{
      display: flex;
      flex-direction: column;
      
    }
    #History > div{
      flex-direction: column;
      justify-content: center;
    }
    #History > #year1996{
      flex-direction: column-reverse;
    }
    .ini-hist{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #year1996 > .hist-desc{
      flex-direction: row;
    }
    iframe{
      width: 100%;
    }
  }


header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #f0e482;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 10;
  }

header li{
     padding: 10; 
     color: white;
  }

a{
    text-decoration: none;
    color:white;
}
header a {
    text-decoration: none;
    color:gray;
}

header img{
    width:30px;
    
}

section{
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}


#Home{
    display: flex;
    flex-direction: column;
    background-color: #f0e482;
    
}
.home-div{
    padding-bottom: 100;
    padding-top: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.home-div > h1{
    display: flex;
    justify-content: center;
    font-size: 250%;
    margin-top: 0px;
    margin-bottom: 0px;

}

.home-div > p {
    display: flex;
    justify-content: center;
  
}

.btn-home{
    display: flex;
    background: white;
    /* justify-content: flex-end; */
    /* width: 20%; */
    margin-left: 25%;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    width: 150px;
    height: 50;
    align-items: center;    
    font-size: 18px;
    flex-direction: row;
    justify-content: center;
    border-radius: 100px;
    /* border-color: yellow; */
    border-style: hidden;
    justify-content: center;
    margin-top: 15;
}

#Home > div {
    
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

}

#Home > div> img {
    
    display: flex;
    justify-content: center;
    width: 300;

}

#year1980{
    color:#62cab5;
    border-right-color: #62cab5;
    display: flex;  
}
#year1980 svg{
    fill:#62cab5;
}

.hist-desc{
    margin-left: 10%;
}
#History{
  margin-top: 5%;
  margin-bottom: 10%;
}
#year1996{
    color:#e63456;
    display: flex;    
    flex-direction: row-reverse; 

}
#year1996 svg{
    fill:#e63456;
}

#year1998{
    color:#ffee59;
    display: flex; 
    border-left-color: red;  
}
#year1998>div>object> #document> svg{
    fill:#ffee59;
}
section p{
    color:gray;
}

svg {
    fill:red;
}

#History object{
    height:40px;
    margin: 20px;
}
#Videos{
    margin-top: 20px;

}
.videos-div{
    display: flex;
    align-content: center;
    display: flex;
    display: fe;
    background-color: #00A8ED;
    color: white;
    text-align: center;
}

.videos-div > div{
    margin:10%;
    font-size: x-large;
}
.btn-grad {
    background: white;
    /* justify-content: flex-end; */
    /* width: 20%; */
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    width: 150px;
    height: 50;
    align-items: center;    
    font-size: 18px;
    flex-direction: row;
    justify-content: center;
    border-radius: 100px;
    /* border-color: yellow; */
    border-style: hidden;
    justify-content: center;
    margin-top: 15;
    background-image: linear-gradient(to right, #FF4E50 0%, #F9D423 51%, #FF4E50 100%)}
.btn-grad:hover { background-position: right center; }

footer{
    background-color: #3c3b3b;
    padding: 15;
    display: flex;
    justify-content: center;
    color:white;
    font-size: small;
}

#ContactUs{
    display: flex;
    justify-content: center;
}

input,textarea{
    border-style: solid;
    border-width: thin; 
    border-color: gray;
    width: 304px;
    height: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;

}

textarea{
    height: 30;
    height: 60px;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
}


.send-btn{
    display: flex;
    background: white;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    width: 150px;
    height: 50;
    align-items: center;    
    font-size: 18px;
    flex-direction: row;
    justify-content: center;
    border-radius: 100px;
    border-style: hidden;
    margin-top: 15;
    color:white;
}

.ini-hist{
  display: flex;
}

li {
  display: flex;
  justify-content: center;
}

form h2{
    justify-content: center;
    display: flex;
}


